{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/interface-name-prefix": [2, "always"],
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "no-empty-pattern": 0,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-wrap-multilines": 0,
    // fix after quick fix
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "prefer-destructuring": "warn"
    // quick fix for legacy components
    // "jsx-a11y/click-events-have-key-events": 0,
    // "jsx-a11y/no-noninteractive-element-interactions": 0,
    // "jsx-a11y/no-static-element-interactions": 0,
    // "jsx-a11y/anchor-is-valid": 0,
    // "no-undef": "off",
    // "no-unused-expressions": "off",
    // "jsx-a11y/control-has-associated-label": 0,
    // "react/jsx-curly-brace-presence": 0,
    // "no-alert": "warn",
    // "no-console": "warn",
    // "@typescript-eslint/no-non-null-assertion": "warn",
    // "object-shorthand": "warn"
  }
}
